body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.result {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #ceffc6 !important;
}
.result2 {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #052700 !important;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

/* Color coding */
span {
    font-weight: bold;
    font-size: 16px;
}
/* Mobile view styles */
@media screen and (max-width: 768px) {
    .nav__menu {
        display: none;  /* Menu hidden by default */
        width: 100%;
        background-color: #333;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        padding-top: 60px;
        text-align: center;
        z-index: 999;
        flex-direction: column;
    }

    .nav__menu.active {
        display: block;  /* Show menu when 'active' class is added */
    }

    .nav__item {
        margin: 10px 0;
    }

    .nav__toggle {
        display: block;
        cursor: pointer;
    }

    .nav__link {
        color: #fff;
        text-decoration: none;
    }

    .nav__close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
        color: white;
        cursor: pointer;
    }
}

